body{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    /*background-image: url(new.jpg);*/
    background-color: blue;
}
table{
    width: 500px;
    border-collapse: collapse;
    table-layout: fixed;
}
td{
    vertical-align: top;
    padding: 5px;
    word-wrap: break-word;
}
#fullpage{
    margin: 100px;
}
.label_col{
    text-align: right;
}
.input_col{
    text-align: left;
}
.feedback_col{
    text-align: center;
    vertical-align: middle;
    color: honeydew;
    font-size: small;
}
.Button{
    margin: auto;
    text-align: center;
    width: 50px;
}
.header {
    background-color: gray;
    color: white;
    height: 130px;
    width: auto;
  }
  form { 
	width: 600px; 
	margin: auto;
	padding: 5px; 
	border: solid black 1px;	
	border-radius: 5px;  
    box-shadow: 5px 5px 2px #888;
    
}

input:focus, 
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

.header-list li {
    float: left;
    padding: 33px 20px;
  }
  .image{
      float: right;
      height: 250px;
  }
/*code written by Aryan jain
